.App {
  text-align: center;
}

.price {
  display: flex;
  gap: 10px;
}

#p1 {
  background-color: brown;
}

#p2 {
  background-color: chocolate;
}

#p3 {
  background-color: yellow;
}

#p4 {
  background-color: steelblue;
}